.menu{ margin:0px }
.menu-mobile {
    display: none;
    padding: 20px; position: absolute; top: 0px; right: 0px; z-index: 777;
}

.menu-mobile:after {
    content: "\f0c9";
    font-family:"Font Awesome 5 Free"; font-weight: 900; text-align: center;
    font-size: 20px; color: #FFF;
    padding: 0;
    float: right;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%); background: #999;  width: 40px; height: 40px; padding-top: 6px; 
}

.menu-dropdown-icon:before {
    content: "\f489";
    font-family: "Ionicons";
    display: none;
    cursor: pointer;
    float: right;
    padding: 1.5em 2em;
    background: #fff;
    color: #333;
}

.menu > ul {
    margin: 0 auto;
    width: 100%;
    list-style: none;
    padding: 0;
   
    /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
    box-sizing: border-box;
}

.menu > ul:before,
.menu > ul:after {
    content: "";
    display: table;
}

.menu > ul:after {
    clear: both;
}

.menu > ul > li {
    float: left;
    padding: 0;
    margin: 0;
}


/*.menu > ul > li:nth-child(2) a:hover {border-bottom: 4px solid #cc0000;}
.menu > ul > li:nth-child(3) a:hover {border-bottom: 4px solid #2ecc71;} 
.menu > ul > li:nth-child(4) a:hover {border-bottom: 4px solid #AB47BC;}
.menu > ul > li:nth-child(5) a:hover {border-bottom: 4px solid #29B6F6;} 
.menu > ul > li:nth-child(6) a:hover {border-bottom: 4px solid #FFCA28;}*/  
.menu > ul > li a:hover{border-bottom: 4px solid #ed6388; color: #ed6388;}

.menu > ul > li a {
    text-decoration: none;
    padding:0px 10px 8px;
    display: block;
    color: #333;
  font-size: 13px;
    line-height: 1;
    letter-spacing:1px;  font-family: 'Lato', sans-serif; font-weight: 600; text-transform: uppercase;
}



.menu > ul > li > ul {
    display: none;
    width: 100%;
    background: #fff;
    padding: 20px;
    position: absolute;
    z-index: 99;
    left: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
}


.menu > ul > li > ul > li:nth-child(4){
    border: none;
}

.menu > ul > li > ul:before,
.menu > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > li { font-family: 'Lato', sans-serif !important;
    margin: 0;
    padding-bottom: 0;
    list-style: none;
    background: none;
    float: left;
    padding: 10px;
    font-style: 13px
    line-height28px;
}


.menu > ul > li > ul > li{
    width:25%; min-height:180px;
}
.menu > ul > li > ul > li:nth-child(3) {border-right: none;}


.menu > ul > li > ul > li a {
    color: #252d45;
    padding:5px 10px 5px 0; 
    width: 95%;
    display: block;
    font-size:13px;
    text-align: left;
    border-bottom: none; font-weight: normal; text-transform: none;
}


.menu > ul > li > ul > li a:hover {
    color: #df3b3b;
    padding:5px 10px 5px 0; 
    border: 0!important;
   
    width: 95%;
    display: block;
    font-size:14px;
}

.menu > ul > li > ul > li > ul {
    display: block;
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
    box-sizing: border-box;
}
.menu > ul > li > ul > li > .sub-menu { width:100%; display: inline-block; }

.menu > ul > li > ul > li > ul:before,
.menu > ul > li > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > li > ul > li {
    float: left;
    width: 100%;
    padding: 5px 0;
    margin: 0;
    font-size: .8em;
}

.menu > ul > li > ul > li > ul > li a {
    border: 0;
}

.menu > ul > li > ul.normal-sub {
    width: 300px;
    left: auto;
    padding: 5px 20px;
}

.menu > ul > li > ul.normal-sub > li {
    width: 100%; min-height:auto;
}

.menu > ul > li > ul.normal-sub > li a {
    border: 0;
    padding: 5px 0;
}
.menu > ul > li > ul.normal-sub > li a.menu-inner-h2 {font-weight: normal !important; text-transform: none !important; color: #333 !important; font-size: 13px !important;}
.menu > ul > li > ul.normal-sub > li a.menu-inner-h2:hover {color: #e45c5c !important;}



@media only screen and (max-width: 959px) {
    .menu-container {
        width: 100%;
    }
    .menu-mobile {
        display: block;
    }
    .menu-dropdown-icon:before {
        display: block;
    }
    .menu > ul {
        display: none;
    }
    .menu > ul > li {
        width: 100%;
        float: none;
        display: block;
    }
    .menu > ul > li a {
        padding: 1.5em;
        width: 100%;
        display: block;
    }
    .menu > ul > li > ul {
        position: relative;
    }
    .menu > ul > li > ul.normal-sub {
        width: 100%;
    }
    .menu > ul > li > ul > li {
        float: none;
        width: 100%;
        margin-top: 20px;
    }
    .menu > ul > li > ul > li:first-child {
        margin: 0;
    }
    .menu > ul > li > ul > li > ul {
        position: relative;
    }
    .menu > ul > li > ul > li > ul > li {
        float: none;
    }
    .menu .show-on-mobile {
        display: block;
    }
}

.menu-img{
    padding: 0px 0px; margin-top:15px; width: 150px; height: 200px; display: inline-block; 
}

.menu-inner-h {
    color: #e05b5b !important;
    font-size: 14px !important;
    font-weight: 700;
}

.menu-inner-h2 {
    color: #e45c5c !important;
    font-size: 14px !important;
    font-weight: 600  !important;
}
/*
.menu1:hover{
    border-bottom:2px solid #df3b3b;
}

.menu2:hover{
    border-bottom:2px solid #fc8372;
}

.menu3:hover{
    border-bottom:2px solid blue;
}
 
.menu4:hover{
    border-bottom:2px solid #0d8d49;
    }*/

    .header_main .row {
        display: block !important;  
    }
.menures{padding-left: 25px!important}


.header-toprgt-menu.col-lg-12 ul li a .fa {
    font-size: 18px;
}

.header-toprgt-menu.col-lg-12 ul li a .far {
    font-size: 20px !important;
}
.header-toprgt-menu.col-lg-12 ul li a .fas {
    font-size: 20px !important;
}
i.fas.fa-map-marker-alt {
    font-size: 20px !important;
}