@import url('https://fonts.googleapis.com/css?family=Lato:300i,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap');
body{ font-family: 'Lato', sans-serif !important; }
ul, li {list-style: none;margin: 0px;  padding: 0px;}
.clear {clear: both;}
h1, h2, h3, h4, h5, h6 {font-family: 'Lato', sans-serif; font-weight: 700; }
img {max-width: 100%;}
.heading-title .title-txt {font-family: 'Lato', sans-serif; font-size: 26px;}
.padlr0 {padding-left: 0px; padding-right: 0px;}
.height60 {height: 60px;}
.btn-pink {background: linear-gradient(45deg, #fb8071 0%,#ee6488 100%);  color: #FFF;}
.btn-pink:hover {background: linear-gradient(45deg, #fb8071 0%,#ee6488 100%);  color: #FFF;}
.pinkBtn{ display:inline-block; border-radius: 50px; padding: 3px; width: 75%; background: #f09696; background: #ef6262; color:#fff;text-decoration: none; background: linear-gradient(45deg, #fb8071 0%,#ee6488 100%)}
.btn-secondary {color: #fff;background-color: #5a6268;border-color: #545b62;}
/*---------------------------Header css start here-----------------------------------*/
.header {position: fixed;width: 100%;z-index: 10; display: block; float: left; background: #fff; box-shadow: 0 0 10px #ccc;}
.headertopspace { width: 100%; display: block; height: 75px;}
.header-rgt-panel {margin-top: 5px; position: relative; padding-left: 0px; padding-right: 0px;}
.header-toprgt-menu ul li {display: inline-block; padding: 0 5px;   color: #666;}
.header-toprgt-menu ul li:hover .tooltiptext { display: block;}
.header-toprgt-menu ul li a {font-size: 11px; color: #666;}
.header-toprgt-menu .tooltiptext {display: none; min-width:130px; font-size:13px; background: #e4555b; font-family: 'Lato', sans-serif; color: #fff; border-radius:5px; position: absolute; padding: 5px 15px; margin-top: 5px;   }
.header-toprgt-menu .tooltiptext::before{width: 0; height: 0; position: absolute; content: " "; top: -7px; left: 5px; border-left: 7px solid transparent;border-right: 7px solid transparent;border-bottom: 7px solid #e4555b;}
.header-rgt-menu {margin-top:10px;}
.header-rgt-menu ul, .header-toprgt-menu ul {float:right;}
.header-rgt-menu .dropdown-list .dropdown-content {display: none;position: absolute;  text-align: center; background-color: #FFF;box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.4);padding: 9px 16px;z-index: 1;  }
.header-rgt-menu .wishlist-content {min-width: 250px; right:50px;}
.header-rgt-menu  .dropdown-content {display: none;position: absolute;text-align: center;background-color: #FFF;box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.4);padding: 9px 16px;z-index: 1;}
.header-rgt-menu ul li {display: inline-block; width: auto; margin-left:14px;}
.header-rgt-menu ul li a {color: #000;}
.bag {background-image: url(../images/cartnew.png);width: 17px;height: 21px;display: inline-block;}
.header-rgt-menu .dropdown-content {display: none; position: absolute;}
.header-rgt-menu .search-dropdown {min-width: 300px; right: -7px; }
.header-rgt-menu .account-dropdown {width: 250px; right:0px;}
.header-rgt-menu .account-dropdown ul, .header-rgt-menu .account-dropdown ul li {margin:0px; padding: 0px; }
.header-rgt-menu .search-dropdown input { width:230px; border-top: none; border-right: none; border-left: none;  border-bottom: 1px solid #000; color: #666; font-size: 13px; padding: 8px; font-family: 'Lato', sans-serif !important; }
.header-rgt-menu .search-dropdown button {width: 35px; height: 35px; border: none; background: #000; color: #fff; text-align: center; font-size: 13px;}
.header-rgt-menu .dropdown-list .dropdown-content p { text-align: center; }
.header-rgt-menu .account-dropdown ul li{margin-bottom: 10px; width: 100%; display: block;}
.header-rgt-menu .account-dropdown ul li .btn-grey { background: #f0f0f0; color: #666; border: 1px solid #e5e5e5; font-weight: 700; border-radius:5px; font-size: 13px; text-align: center; width: 100%; display: block; padding:8px 0px;   }
.header-rgt-menu .account-dropdown ul li .btn-grey:hover {background: #FFF; border: 1px solid #333; color: #333; text-decoration: none;}

.header-rgt-menu ul li:hover .dropdown-content {display: block;}
.main_nav {margin-top: 40px;}
.slide .carousel-control { width: 40px; height: 40px; background: rgba(0, 0, 0, 1); padding-top: 12px; color: #FFF; font-size: 12px; border-radius: 50% 50%; top:40%; }
.slide .carousel-control.left {left:20px;}
.slide .carousel-control.right {right:20px;}

/*---------------------------------------Home Category section start here------------------------------*/
.top-banner {overflow: hidden;}
.heading-title {margin-bottom: 40px;}
.trends {padding-top: 0px;padding-bottom: 80px;margin-top: 0px;margin-bottom:0px;position: relative;}
.slider-nav-container {padding-right: 40px;width: 100%;z-index: 2;position: absolute;top: 44%;}
.home-product .owl-carousel .owl-nav button.owl-next  {position: absolute;right: -55px;top: 54%;}
.home-product .owl-carousel .owl-nav button.owl-prev {position: absolute;left: -45px;top: 54%;}
.home-product .owl-carousel .owl-nav button.owl-next span, .home-product .owl-carousel .owl-nav button.owl-prev span {font-size: 20px; position: relative; top: -3px;} 
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {display: inline-block;width: 36px;height: 36px;box-shadow: 0px 1px 5px rgba(0,0,0,0.1);border-radius: 50%;text-align: center;cursor: pointer;margin-right: 16px;padding-top: 0px; font-size:17px; background: #fff;}
.home-product .owl-carousel button.owl-dot {display: none;}
.owl-item {-webkit-transition: 0.4s ease;transition: 0.4s ease;border: none !important;}
.colorfulbg {background: url("../images/dot-colorful-bg.jpg"); width: 100%; display: block; padding: 60px 0 0 0px; }
.colorfulbg .item {background: #FFF;}
.vasvi-offer-banner {/*background: url("../images/banner2.jpg") no-repeat center top #fee2cc; background-size: 100%;*/ width: 100%; display: block; height: auto; margin: 50px 0px 0px 0px;}
.vasvi-offer-banner img {max-width: 100%; min-width: 100%;}
.side-img { height: 265px;width: 100%;position: relative;}
.side-img img {max-width: 100%;-moz-transition: all 0.3s;-webkit-transition: all 0.3s;transition: all 0.3s;}
.side-img img:hover {-moz-transform: scale(1.1);-webkit-transform: scale(1.1); transform: scale(1.1);}
/*---------------------------------------Home Category section start here------------------------------*/

/*----------------View Deal section css start here------------------------------------------*/
  .catone{border:1px solid #e6e6e6; text-align: center; margin-bottom: 50px;box-shadow: 0 4px 9px rgba(0,0,0,0.1),0 10px 20px rgba(50,50,93,0.1); transition:.4s }
  .catone:hover{box-shadow: 0 15px 35px rgba(0,0,0,0.1),0 40px 80px rgba(50,50,93,0.1); }

  .catone img{  display: inline-block;  }
  .catone .offers{background-color: #f6f6f6; }
  .catone .offers .newprice{ margin-top: -5px!important; font-size: 15px; padding: 0; color: #23527c; font-weight: bold; }
  .catone .offers p{ padding-top:15px; font-size:20px; margin-bottom: 5px;}
  .catone .offers a{background: #fb8071; 
    background: -moz-linear-gradient(45deg, #fb8071 0%, #ee6488 100%); 
    background: -webkit-linear-gradient(45deg, #fb8071 0%,#ee6488 100%); 
    background: linear-gradient(45deg, #fb8071 0%,#ee6488 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb8071', endColorstr='#ee6488',GradientType=1 ); 
    font-size: 14px; text-decoration: none; color: #fff; border-radius: 30px; padding: 10px 30px; display: inline-block; margin-bottom: 25px;}
    .catone .offers a:hover{ opacity: 0.9; animation:2s }
    .carousel-control.left{background-image: none!important;}
    .carousel-control.right{background-image: none!important;}
  /*--------------------------View Deal section css end here------------------------*/
    
/*--------------------------Home Product css start here------------------------*/
#f1_container {position: relative;/*margin: 10px auto;*/width: 232px; height: 250px; z-index: 0;}
#f1_container {perspective: 1000;}
#f1_card {width: 100%;height: 100%;transform-style: preserve-3d;transition: all 0.5s linear;}
#f1_container:hover #f1_card {transform: rotateY(180deg);}
.face {position: absolute;width: 100%;height: 100%;backface-visibility: hidden;}
.face.back {display: block;transform: rotateY(180deg);box-sizing: border-box;padding: 0px;color: white;text-align: center;}
.how-we-p {font-family: 'Lato', sans-serif; font-size: 15px; color: #666; padding: 20px 0px; width: 100%; display: block;}

/*---------------------Blog Section css start here------------------*/

.home-blog {width: 100%;margin-bottom: 70px; min-height: 350px; border: solid 1px #e8e8e8;box-shadow: 0px 1px 5px rgba(0,0,0,0.1); text-align:center;}
.home-blog img {max-width: 100%;-moz-transition: all 0.3s;-webkit-transition: all 0.3s;transition: all 0.3s;}
.home-blog:hover {-moz-transform: scale(1.);-webkit-transform: scale(1.1);transform: scale(1.1);}
.home-blog-content {padding: 30px;background: #fff;}
.home-blog-subtitle {font-size: 12px;color: rgba(0,0,0,0.5);margin-bottom: 26px;}
.home-blog-title a {font-size: 18px;font-weight: 500;color: #000000;}
.home-blog-title a:hover {color: #fc8372;}
.home-blog-text {color: #828282;margin-top: 10px;}
.home-blog-image {width: 178px;height: 100%;}
.home-blog img {display: block; max-height: 200px; min-height: 200px;  }
/*---------------------Blog Section css start here------------------*/

/*------------------------Client Review Section start here----------------------*/

.client-review .owl-carousel .owl-nav button.owl-next, .client-review .owl-carousel .owl-nav button.owl-prev {display: none;}
.owl-carousel .owl-dots {text-align: center;}
.owl-carousel button.owl-dot {display: inline-block; width: 12px; height: 12px; margin-right: 5px; box-shadow: none; background: #ccc !important;}
.owl-carousel button.owl-dot.active {background: #e05b5b !important;}
.testimonial-text p {font-size: 15px; color: #666; text-align: justify;}
.client-name {font-family: 'Lato', sans-serif; color: #e05b5b; font-size: 15px; font-weight: normal; margin: 10px 0 5px 0; }
.client-location {color: #666; font-size: 13px;}
.client-img { width: auto; max-width: 80px; max-height: 80px; min-width: 80px; min-height: 80px; border-radius:50% 50%; }
/*------------------------Client Review Section end here----------------------*/

/*-----------------Newsletter css start here---------------------------------------*/
.newsletter {width: 100%;background: #f0f0f0;padding-top: 20px;padding-bottom: 10px;box-shadow: 0px 5px 20px rgba(0,0,0,0.1);}
.newsletter_container {width: 100%;}
.newsletter_title_container {width: 40%;padding-left: 95px;}
.newsletter_icon {position: absolute;top: 50%;-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);left: 0;}
.newsletter_title {font-size: 18px;color: #000000;}
.newsletter_text p:last-child {margin-bottom: 0;}
.newsletter_icon img {max-width: 100%;}
.newsletter_content {width: 100%;}
.newsletter_form {position: relative;width: 100%;float: left;margin-top: 5px;}
.newsletter_input {height: 50px;background: #FFFFFF;border: solid 1px #e5e5e5;border-radius: 5px;padding-left: 13px;font-size: 16px;outline: none;color: #fc8372;padding-right: 26px;width: 100%;}
.newsletter_input:focus {border: solid 1px rgba(14, 140, 228, 0.3);box-shadow: 0px 1px 5px rgba(14, 140, 228, 0.3);}
.newsletter_input::-webkit-input-placeholder {font-size: 16px;color: rgba(0,0,0,0.3);}
.newsletter_input:-moz-placeholder {font-size: 16px;color: rgba(0,0,0,0.3);}
.newsletter_input::-moz-placeholder {font-size: 16px;color: rgba(0,0,0,0.3);}
.newsletter_input:-ms-input-placeholder {font-size: 16px;color: rgba(0,0,0,0.3);}
.newsletter_input::input-placeholder {font-size: 16px;color: rgba(0,0,0,0.3);}
.newsletter_button {top: 0;right: 0;width: 122px;height: 50px;background: #fb8071; background: -moz-linear-gradient(45deg, #fb8071 0%, #ee6488 100%); background: -webkit-linear-gradient(45deg, #fb8071 0%,#ee6488 100%); 
background: linear-gradient(45deg, #fb8071 0%,#ee6488 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb8071', endColorstr='#ee6488',GradientType=1 ); 
color: #FFFFFF;line-height: 50px;font-size: 18px;border: none;outline: none;cursor: pointer;position: absolute;border-radius: 0px 5px 5px 0px;}
.newsletter_button:hover {opacity: 0.8;}
.newsletter_unsubscribe_link {float: right;text-align: right;height: 50px;}
.newsletter_unsubscribe_link a {font-size: 10px;color: #fc8372;font-weight: 500;text-transform: uppercase;letter-spacing: 0.1em;line-height: 50px;}
.newsletter_unsubscribe_link a:hover {color: #0d82d3;}

/*--------------------------Footer css start here------------------------------*/
.we-accept-img img {text-align: left; max-width: 200px;}
  .footer_list img {max-width: 157px;float: left; display: inline-block; height: 53px; object-fit: cover;border-radius: 10px;margin-top: 5px;}
.footer {padding-top: 35px;padding-bottom: 15px;background-color: #121214;	 }
.footer .logo_container {height: auto;margin-bottom: 18px;margin-top: -10px;}
.footer .logo {top: auto;-webkit-transform: transform: none;-moz-transform: transform: none;-ms-transform: transform: none;-o-transform: transform: none;transform: none;}
.footer .logo a {color: #000000;}
.footer_title {font-size: 16px;font-weight: 600;color: #FFF;margin-bottom: 10px;margin-top: 15px;}
.footer_phone {font-size: 18px;font-weight: 500;color: #fc8372;margin-top: 13px;}
.footer_contact_text {margin-top: 10px;}
.footer_contact_text p {margin-bottom: 0px;}
.footer_social {margin-top: 40px;}
.footer_social ul li {display: inline-block;width: 30px;height: 30px;background: #fafafa;border-radius: 50%;cursor: pointer;box-shadow: 0px 1px 5px rgba(0,0,0,0.1);margin-right: 16px;text-align: center;}
.footer_social ul li:hover {background: #fc8372;}
.footer_social ul li i {color: #000000;line-height: 30px;-webkit-transition: all 200ms ease;-moz-transition: all 200ms ease;-ms-transition: all 200ms ease;-o-transition: all 200ms ease;transition: all 200ms ease;}
.footer_social ul li:hover i {color: #fff;}
.footer_subtitle {font-size: 12px;color: #000000;}
.footer_column ul {margin-top:0px;}
.Secure-pay li {float: left;}
.footer_list li {margin-bottom: 6px;}
.footer_list li a {font-size: 13px;font-weight: 500;color: #868585;-webkit-transition: all 200ms ease;-moz-transition: all 200ms ease;-ms-transition: all 200ms ease;-o-transition: all 200ms ease;transition: all 200ms ease;}
.footer_list li a:hover {color: #FFF;text-decoration: none;}
.footer_list_2 {margin-top: 42px !important;}
.contact-info li {margin-bottom: 6px; color: #868585;}
.contact-info li a {color: #FFF; text-decoration: none;}
.contact-info li i {margin-right: 5px; color: #999;}
.footer_list_2 {margin-top: 42px !important;}
.copyright {width: 100%;background: #0c0c0c;}
.copyright_container {width: 100%;padding: 10px 0px;}
.copyright_content {font-size: 12px;color: #fff;}
.copyright_content a {color: #fff;}
.Secure-pay img {text-align: left;max-width: 100px;height: 100px;object-fit: contain;}
.copyright_content span {font-weight: 500;}
.characteristics i {color: #fb8071;font-size: 43px;padding-left: 20px;}
.char_item {width: 100%;height: 80px;box-shadow: 0px 1px 5px rgba(0,0,0,0.1);border: solid 1px #e8e8e8; padding-top: 15px; margin-top: 30px; margin-bottom: 30px;}
.char_icon {margin-right: 24px; float: left; width: auto;}
.char_content {transform: translate(-1px, 3px); float: left; width: auto; font-family: 'Lato', sans-serif; font-size: 15px;}
.media-body, .media-left, .media-right {display: table-cell;vertical-align: top;}
.icon-support, .support-text { width: auto; display: inline-block;}
.icon-support { width: 30px;}
.support-text {font-family: 'Lato', sans-serif;}

/*---------------------------Category Page css start here----------------------*/
.clear {clear: both;}
.product-card { width: 100%; display: block; border: 1px solid #e5e5e5; position: relative; margin-bottom: 30px; }
.product-card .icon-wishlist {position: absolute; top: 10px; right: 10px;  font-size: 15px; text-align: right; width: 100px; 
  display:none!important;    
}
.product-card .icon-wishlist:hover .wishlist-text {display: block;display: none;}
.wishlist-text { display: none; width: auto; white-space: nowrap; position: absolute; padding: 7px 10px;  font-weight: 600; font-size: 12px;  color: #333; box-shadow: 0 0 10px #ccc; }

.product-card .icon-wishlist button {background: none; border: none;}
.product-card .icon-wishlist:hover {color: #f33850;}
.product-card:hover {box-shadow: 0 0 10px #ccc;}
.product-thumb-img {width: 100%; height: 350px;}
.product-thumb-img img { max-height: 350px; min-height: 350px; max-width: 100%; }
.text-caption { padding-left: 15px; }
.price-txt {font-size: 14px; font-weight: 700; padding-bottom: 10px; width: auto; display: inline-block; margin-right: 10px; color: #333; }
.price-oveline {font-size: 14px;  padding-bottom: 10px; width: auto; display: inline-block; margin-right: 10px; text-decoration: line-through; color: #666; }
.discount-text{font-size: 14px; font-weight: 700; padding-bottom: 10px; width: auto; display: inline-block; margin-right: 10px; border-radius:5px; background-color: #28a745 !important; color: #FFF; padding:0px 15px;  }
.text-caption p strong {font-weight:bold; color: #333;}
.product-card .caption-hover { display: none; position: absolute; bottom: 0px; background: #f0f0f0; width: 100%; text-align: center; padding: 20px 0px; }
.product-card:hover .caption-hover {display: block; }
.caption-hover .text-caption p {text-align:center; padding-top: 10px; padding-bottom: 10px; }
.product-card .caption-hover .size {text-align: center; width: 100%; display: none;}
.product-card .caption-hover .size a { width: 20px; height: 20px; margin-right: 5px; border-radius:50% 50%; float: none; display: inline-block; color: #333; text-align: center;  display: inline-block; font-size: 11px; padding-top: 8px; }


.product-card .caption-hover .circle-size {text-align: center; width: 100%; display: block; margin-bottom: 15px;}
.product-card .caption-hover .circle-size p {text-align: center;}
.product-card .caption-hover .circle-size .btn-close {border: none; width: auto; height: auto; padding: 0px; cursor: pointer; margin-right: 15px;}
.product-card .caption-hover .circle-size .btn-close:hover {background: none;}
.product-card .caption-hover .circle-size a { width: 35px; height: 35px; font-weight: 700; margin-right: 5px; border-radius:50% 50%; float: none; display: inline-block; color: #333; text-align: center;  display: inline-block; border: 1px solid #ccc; font-size: 11px; padding-top: 8px; }
.product-card .caption-hover .circle-size a:hover {background: #333; color: #FFF; border: 1px solid #333; }


.btn-section, .caption-hover .text-caption {text-align: center; width: 100%; display: block; }
.btn-section .pinkBtn { width: auto; text-align: center; float: none; display: inline-block; padding: 7px 25px; border-radius: 30px; color: #FFF; font-weight: 700; display: inline-block; font-size: 13px; }
#column-left {background: #f5f5f5; margin-top: 40px; padding-top: 10px; width: 225px; float: left; position: -webkit-sticky;
  position: sticky; top: 60px;}
/*.panel-fixed { position: fixed; z-index: 555; top:30px; }*/
.category-rgt-panel { float: right; width: 80%; position: static;}
#column-left .panel { background: none; border: none;}
#column-left .panel .panel-title {font-size: 13px; text-transform: none; font-weight: normal; font-family: 'Lato', sans-serif;}
#column-left .panel-body {padding-left:0px; padding-right: 0px; border-top: none; /*min-height: 300px; overflow-y:scroll;*/  }
#column-left .panel-default > .panel-heading { background: none; padding-left: 0px; padding-right: 0px; }
#column-left .lft-list-conent li { font-size: 12px; padding: 12px 0px; border-bottom: 1px dotted #ccc;}
#column-left .lft-list-conent li a {color: #333; font-size: 11px;}
#column-left .lft-list-conent li input {margin-right: 10px;}
.product-grid-option li {font-size: 12px; display: inline-block; width: auto; margin-right: 5px;}
.product-grid-option li.grid-option a:hover {border: none;}
.product-grid-option li.grid-option a span { width: 8px; height: 8px; background: #ccc; margin-right: 4px; display: inline-block;}
.product-grid-option li.grid-option a:hover span, .product-grid-option li.grid-option a.active span {background: #000;}
.txt-styles {font-size: 15px; font-style: italic; font-weight: 700;}
.sortby-dropdown {box-shadow: none; border: 1px solid #000 !important; border-radius:0px !important; font-size: 12px !important; height: 31px !important; width: 190px; float: right; margin-top: -5px; }
.filter-section { width: 100%; display: block; border: 1px solid #ccc; padding: 15px 15px 15px 15px; margin-top: 30px; margin-bottom: 40px;}
.relevance{margin-top: 10px;}
.relevance .breadcrumb {padding-bottom: 0px; margin-bottom: 0px;}
.new-img {position: absolute; top: 0px; left: 0px;}
.color-list ul li { width: 30px; height: 30px; display: inline-block; }
.color-list ul li img {border-radius:50% 50%; }  
.panel-title > a:before { float: right !important;font-family:"Font Awesome 5 Free"; font-weight:900; content:"\f077";padding-right: 0px; font-size: 9px;}
.panel-title > a.collapsed:before {float: right !important;content:"\f078";}
.panel-title > a:hover, 
.panel-title > a:active, 
.panel-title > a:focus  {text-decoration:none;}
.breadcrumb {background: none;border-radius: 0;display: block;padding: 0;}
.breadcrumb {background:none!important;margin-bottom: 20px; list-style: none;}
.breadcrumb li a{color:gray;font-size: 12px;}
.breadcrumb li a:hover{text-decoration:none;}
.breadcrumb li {position: relative;color: gray;height: 24px;line-height: 21px;margin-right: 0px;padding: 0 10px 0 10px;background-color:none;}
.breadcrumb li + li:before {content: "";background: #fff;border-left: 1px solid #ef9695;border-top: 1px solid #ef9695;display: inline-block;height: 18px;width: 17px;position: absolute;left: -9px;top: 2px;transform: rotate(135deg);}
.breadcrumb li:first-child {border-left: 0px solid #ef9695;border-color: #ef9695 !important;}
.breadcrumb li:first-child:after, .breadcrumb li:first-child:before {border-color: #ef9695;}
.breadcrumb > li + li::before{ content: none!important; }
.price_input .form-control { width: 70px; display: inline-block; float: none; margin-top: 15px;}
.price_input .btn-price { border-radius:5px; width: 70px; margin: 10px auto; }
.scroll-content {overflow-y: scroll; height: 250px;}
.range-slider { width: 100%; position: absolute;  }
.price-range-block {margin-top: 72px; position: absolute;}

/*------------------------------Product Detail Page css start here---------------------------------------*/
.prod-slider-section {width: 43%;text-align: center;float: left;}
.product-detail .prod-slider-section .product-slider { width:70%; float: right;}
.product-detail .product-thumb-slider { width: 30%; padding-top: 25px; }
.product-detail .slick-vertical .slick-slide { height:100px;  } 
.product-detail .slick-arrow { border: 0; }
.product-detail .product-thumb-slider .slick-prev  { top: 0; left: 0; right: 0; margin: auto; }
.product-detail .product-thumb-slider .slick-next  { top:auto;  bottom: -25px; left: 0; right: 0; margin: auto; }
.product-detail .product-thumb-slider .slick-slide:first-child  { border: 0; }
.product-detail .prod-slider-section .product-slider .slick-arrow{ display: none !important; }
.product-detail .product-thumb-slider .slick-prev { background: url(../images/up-arrow.png) no-repeat center center; background-repeat: no-repeat !important; background-size: 13px; }
.product-detail .product-thumb-slider .slick-next { background: url(../images/draw-arrow.png) no-repeat center center; background-repeat: no-repeat !important;  background-size: 13px;} 
.product-detail .slick-arrow.slick-disabled { opacity:0.5; }
.box-review p {font-size: 14px; padding: 0; margin-bottom: 4px;}
.product-size, .product-color {margin-top: 15px;}
.product-size ul li { width: 35px; height: 35px; display: inline-block; margin-right: 7px;}
.product-size ul li a { width: 35px; height: 35px; font-weight: 700;  border-radius:50% 50%; float: none; display: inline-block; color: #333; text-align: center;  display: inline-block; border: 1px solid #ccc; font-size: 11px; padding-top: 8px; }
.product-size ul li a:hover {background: #333; color: #FFF; border: 1px solid #333; }

.product-color ul li { width: 35px; height: 35px; display: inline-block; margin-right: 7px;}
.product-color ul li a { width: 35px; height: 35px; font-weight: 700;  border-radius:50% 50%; float: none; display: inline-block;  text-align: center;  display: inline-block;  font-size: 11px; padding-top: 8px; }


.boldtxt {font-weight: 700;}
.title-product h1 {font-size: 24px;}
.product-price span {margin-right: 15px;}
.text-price-title {color: #28a745; font-weight:700;  font-size: 15px; margin-top: 10px;}
.product-price .bold-price { color: #000; font-size: 20px; font-weight: 700;}
.product-price .cut-price {color: #666; text-decoration: line-through; font-size: 18px;}
.product-price .txt-discount {font-size: 16px; color: #28a745; font-weight: 700;}
.btn-addcart{color: #e45c5c!important;border-radius:0px;padding:15px 20px!important;border: 1px solid #e45c5c!important;   background-color: #fff;text-decoration: none; width:210px; display: inline-block; border-radius:5px; margin-right: 10px; font-weight:700; }
.btn-addcart:hover{ background: linear-gradient(45deg, #fb8071 0%,#ee6488 100%); color: #fff!important; transition: .2s}

.btn-buynow {background: linear-gradient(45deg, #fb8071 0%,#ee6488 100%); border-radius:5px; font-weight:700;   padding:16px 21px!important; width:210px; color: #FFF; border: none; display: inline-block;}

.quantity {margin-top: 20px; margin-bottom: 30px;}
.delivery-address {margin-top: 20px; margin-bottom: 30px;}
.delivery-address input{border-top: none; border-left: none; border-right: none; border-bottom:1px solid #e5e5e5; padding-bottom: 10px; font-size: 13px; color: #666; margin: 0 10px; width: 200px; }
.btn-check {border: none; background: none; color: #28a745; font-weight: 700; font-size: 14px; }
.product-thumb-slider  img {max-width: 100%;max-height: 90%;}
.proudct-social-media li { width: 40px; height: 40px; display: inline-block; }
.proudct-social-media li img {width: 35px; height:35px;}

/*------------------------------Product Detail Page css start here---------------------------------------*/

/*-------------------Cart Page css start here--------------------------*/
/*.cartpage-lft .nav-tabs>li {border: none; border-radius:0px; }
.cartpage-lft .nav-tabs>li>a {font-weight: 400; font-size: 15px; color: #999; width: 100%; border-top: none; border-left: none; border-right: none; border-bottom: 2px solid #e5e5e5; text-align: center; }
.cartpage-lft .list-item {padding: 0px; }
.cartpage-lft .itembox { border: 1px solid #e5e5e5;  float: left;}
.cartpage-lft .itembox .list-item {margin-right: 15px; margin-left: 15px; padding-bottom: 20px;} 
.cartpage-lft .list-item .thumbimg { margin-top: 20px; }
.cartpage-lft  .nav-tabs>li {width: 50%;}
.cartpage-lft .nav-tabs>li.active a {color: #5e2c81; border-bottom: 2px solid #5e2c81; font-weight: 600;}
.cartpage-lft .heading-title {color: #333; font-weight: 600;}
.cartpage-lft .qty-txt { display: inline-block; color: #666; font-weight: normal; font-size: 13px; margin-right: 10px;}
.cartpage-lft .qty-input {Width:50px; float:none; display:inline-block; height:30px; font-size:13px;}
.cartpage-lft .list-item { }
.cartpage-lft .list-item:hover {box-shadow: none;}
.cartpage-lft .item-bot-strip {background: #f0f0f0; padding: 15px; float: left;  margin-bottom: 15px;   }
.txt-message {border: none; background: none; cursor: pointer; font-size: 13px; font-weight: 600; color: #333;}
.link-txt a {color: #666; font-weight: 600; font-size: 12px; }
.padtop15 {padding-top: 40px;}
.coupon-text button {border: 2px solid #e5e5e5; cursor: pointer; padding: 15px; font-size: 13px; font-weight: 600; color: #333; width: 100%; background: #fff; margin-bottom: 20px; border-radius:0px; }
.coupon-text button i {color:#ff7e28; transform:rotate(80deg);}
.coupon-text button:hover {background: #ff7e28; border-color:#ff7e28; }
.cart-order-summary {border: 2px solid #e5e5e5; padding: 15px; margin-bottom: 30px;}
.cart-order-summary h4 {font-size: 16px; font-weight: 600; color: #693091;}
.cart-order-summary ul li {font-size: 13px; padding: 9px 0px;}
.cart-order-summary ul li i {font-size: 12px;}
.cart-order-summary ul li span {float: right;}
.cart-order-summary ul li .txtorange {color:#ff7e28;}
.cart-order-summary ul li strong {font-weight: 600;}
.cart-order-summary ul li .btn-border { width: 100%; display: block; text-align: center; font-size: 13px; font-weight: 600; margin-top: 15px; }
.btn-wid100 { width: 100%; text-align: center;}
.coupon-code-model p { font-weight: 600; font-size: 13px; margin-bottom: 5px;}
.coupon-code-model .form-control {border-radius:0px; }
.payment-tab {margin-bottom: 20px;}
.payment-tab .nav-item .nav-link { font-size: 12px; color: #333; margin-bottom: 10px; border: none;}
.payment-tab .nav-item .nav-link i {color:#c8c8c8; font-size: 20px; margin-right:10px; }
.payment-tab .nav-item .nav-link.active {color: #693091; font-weight: 600; font-size: 14px;}
.payment-tab .nav-item .nav-link.active i {color: #693091;}
.payment-form label {font-weight: 600; font-size: 13px; color: #666666;}
.payment-form .form-control {font-size: 16px;}
.btn-payment-tab {font-weight: 600; padding-top: 10px; padding-bottom: 10px; border-radius:30px; font-size: 14px; width: 210px; }
.payment-img {position: absolute; right: 25px; top: 30px;}

.netbanking-list li {display: inline-block; width: 24%; text-align: center; margin-bottom: 20px;}
.netbanking-list li a {color: #333; text-decoration: none;}
.netbanking-list li a img {margin-bottom: 10px;}
.sidenav {height: 100%;width: 0;position: fixed;z-index:99999;top: 0;left: 0;background-color: #FFF;overflow-x: hidden;transition: 0.5s;padding-top: 60px; box-shadow: 0 0 15px #ccc;}
.sidenav .closebtn {position: absolute;top: 0;right: 25px;font-size: 36px;margin-left: 50px;}

.address-form ul li .form-control {border-top: none; padding-left: 0px; border-right: none; border-left: none; font-size: 13px; border-radius: 0px;}
.address-form ul li {margin-bottom: 15px;}
.address-form ul li.form-title {font-weight: 600;}
.address-form h4 {font-size: 19px; margin-bottom: 20px;}
.address-form ul li.pincode-txt {border-bottom: 1px solid rgba(0,0,0,.15); padding-bottom: 7px;}
.address-form ul li .input-50 { width: 48%; float: left; }
.marrgt10 {margin-right: 15px;}
.f_size13 {font-size: 13px;}
.f_size15 {font-size: 15px;}
.form-message ul li label {font-weight: 600; color: 333;}

.list-item .imagebox {min-height: 150px; padding-left: 0px; padding-right: 0px; overflow: hidden; border-radius:5px; width: 90%; }
.list-item .imagebox img { max-width: 100%; min-width: 100%; min-height: 150px;  max-height: 150px; text-align: center;  border-radius:5px; transform: scale(1,1);   transition:0.5s;  }
.list-item .imagebox2 {min-height: 250px; padding-left: 0px; padding-right: 0px; overflow: hidden; border-radius:5px; width: 90%; }
.list-item .imagebox2 img { max-width: 100%; min-width: 100%; min-height: 250px;  max-height: 250px; text-align: center;  border-radius:5px; transform: scale(1,1);   transition:0.5s;  }
.list-item .imagebox:hover img { transform: scale(1.1,1.1);}
.list-item .heading-title  {font-size: 14px; color:#333; font-weight: 600; padding-top:15px; line-height: 18px;  }
.list-item .heading-title p {font-size: 12px; color: #999; padding-top: 5px; font-weight: normal;}
.list-item .heading-title:hover {color: #5170e0;}
.list-item  .pricetxt { font-weight: 600; font-size: 15px; width: auto; display: inline-block; margin-right: 14px;}
.list-item  .pricetxt i {margin-right: 5px;}
.list-item .starrating i { font-size: 14px;}
.list-item  .stargreen, .staryellow {color: #fec53c;}
.stargrey { color: #ccc;}
.list-item  .txtreview  {font-size: 11px; color:#999; text-decoration: none; font-weight: normal;}
.list-item  .scoretxt {font-size: 11px; color: #999; width: auto; display: inline-block; text-align: center;}
.list-item  .scoretxt span { color: #FFF; border-radius:3px; padding:2px 6px; font-size: 12px;  display: inline-block; }
.list-item  .scoretxt span i {font-size: 9px;}
.list-item  .boxtxtsmall { padding: 0px 0px; font-size: 12px; color:#333; text-decoration: none;}
.list-item .txt-offers {border-top: 1px solid #e5e5e5; padding-top: 10px; margin-top: 15px; font-weight: 400; text-align: center; color: #f96f17; font-size: 12px; }
.list-item .txt-offers img {margin-right:5px;}
.greencolorbg {background:#5cb85c;}
.btn-circle {background: none; cursor: pointer; border: 1px solid #ccc; color: #666; font-weight: 600; font-size: 16px; border-radius: 50% 50%; width: 30px; height: 30px; margin-right: 5px; margin-left: 5px;  }
.btn-circle:hover {background: #666; border: 1px solid #666; color: #FFF;}
.btn-delete {background: none; border: none; cursor: pointer;  color: #333; font-size: 15px;}
.btn-delete:hover {color: #693091;}*/
.float-left {float: left;}
.float-right {float: right;}

/*-----------------------------Product Detail Page css start here----------------------------------*/
/*====================== 2018-11-20 ========================*/
.prod-slider-section {width: 43%;text-align: center;float: left;}
.product-detail .prod-slider-section .product-slider { width:70%; float: right;}
.product-detail .product-thumb-slider { width: 30%; padding-top: 25px; }
.product-detail .slick-vertical .slick-slide { height:100px;  } 
.product-detail .slick-arrow { border: 0; }
.product-detail .product-thumb-slider .slick-prev  { top: 0; left: 0; right: 0; margin: auto; }
.product-detail .product-thumb-slider .slick-next  { top:auto;  bottom: -25px; left: 0; right: 0; margin: auto; }
.product-detail .product-thumb-slider .slick-slide:first-child  { border: 0; }
.product-detail .prod-slider-section .product-slider .slick-arrow{ display: none !important; }
.product-detail .product-thumb-slider .slick-prev { background: url(../images/up-arrow.png) no-repeat center center; background-repeat: no-repeat !important; background-size: 13px; }
.product-detail .product-thumb-slider .slick-next { background: url(../images/draw-arrow.png) no-repeat center center; background-repeat: no-repeat !important;  background-size: 13px;} 
.product-detail .slick-arrow.slick-disabled { opacity:0.5; }
.box-review p {font-size: 14px; padding: 0; margin-bottom: 4px;}
.product-size, .product-color {margin-top: 15px;}
.product-size ul li { width: 35px; height: 35px; display: inline-block; margin-right: 10px;}
.product-size ul li a { width: 35px; height: 35px; font-weight: 700;  border-radius:50% 50%; float: none; display: inline-block; color: #333; text-align: center;  display: inline-block; border: 1px solid #ccc; font-size: 11px; padding-top: 8px; }
.product-size ul li a:hover {background: #333; color: #FFF; border: 1px solid #333; }

.product-color ul li { width: 35px; height: 35px; display: inline-block; margin-right: 10px; }
.product-color ul li a { width: 35px; height: 35px; font-weight: 700;  border-radius:50% 50%; float: none; display: inline-block;  text-align: center;  display: inline-block;  font-size: 11px; padding-top: 8px;border: 1px solid #ccc; }


.boldtxt {font-weight: 700;}
.title-product h1 {font-size: 20px; font-family: 'Lato', sans-serif;}
.product-price span {margin-right: 15px;}
.text-price-title {color: #28a745; font-weight:700;  font-size: 15px; margin-top: 10px;}
.product-price .bold-price { color: #000; font-size: 20px; font-weight: 700;}
.product-price .cut-price {color: #666; text-decoration: line-through; font-size: 18px;}
.product-price .txt-discount {font-size: 16px; color: #28a745; font-weight: 700;}
.btn-addcart{color: #e45c5c!important;border-radius:0px; padding:15px 20px!important; border: 1px solid #e45c5c!important;    background-color: #fff; text-decoration: none; width:210px; display: inline-block; border-radius:5px; margin-right: 10px; font-weight:700; }
.title-font {font-family: 'Lato', sans-serif;}
.btn-addcart:hover{ background: linear-gradient(45deg, #fb8071 0%,#ee6488 100%); color: #fff!important; transition: .2s}
.btn-buynow {background: linear-gradient(45deg, #fb8071 0%,#ee6488 100%); border-radius:5px; font-weight:700;   padding:16px 21px!important; width:210px; color: #FFF; border: none; display: inline-block;}

.quantity {margin-top: 20px; margin-bottom: 30px;}
.delivery-address {margin-top: 20px; margin-bottom: 30px;}
.delivery-address input{border-top: none; border-left: none; border-right: none; border-bottom:1px solid #e5e5e5; padding-bottom: 10px; font-size: 13px; color: #666; margin: 0 10px; width: 200px; }
.btn-check {border: none; background: none; color: #28a745; font-weight: 700; font-size: 14px; }
#product-detail p {font-size: 17px; color: #666; margin-top: 30px; line-height: 30px;}

.product_detail {margin-top: 50px; }
.product-detail-tab {border-bottom: none;  margin-top: 50px;  }
.product-detail-tab li { color: #333; font-family: 'Lato', sans-serif; font-size: 13px;  text-transform: uppercase; border: 1px solid #e5e5e5; border-radius:5px; margin-right: 10px; }
.product-detail-tab li a {color: #333; margin-right:0px; }
.product-detail-tab li.active {background: #666; border-color:#666; }
.product-detail-tab li.active a {background: #666; color: #FFF; border: none;}
.product-detail-tab li.active a:hover, .product-detail-tab li.active a:focus  {background: #666; color: #FFF; border: none; }

.btn-wishlist {font-size: 30px; color: #ccc; border: none; background: none; margin-right: 15px;}
.product-details-section {margin-top: 60px;}
.detail-product-section {margin-top: 30px; width: 100%; display: block; float: left; border-top: 1px solid #e5e5e5; padding-top: 30px; }
.btn-circle {background: none; cursor: pointer; border: 1px solid #ccc; color: #666; font-weight: 600; font-size: 16px; border-radius: 50% 50%; width: 35px; height: 35px; margin-right: 5px; margin-left: 5px;  }
.btn-circle span {top:-2px; display: inline-block; position: relative;}
.btn-circle:hover {background: #666; border: 1px solid #666; color: #FFF;}
.qty-input {Width:50px; float:none; display:inline-block; height:30px; font-size:13px;}
.height50 {height: 30px;}
.detail-footer {border-top: 1px solid #e5e5e5; margin-top: 40px;}
.product-size ul li a.disabled {background: #e5e5e5; position: relative;  color: #a9a9a9;}
.product-size ul li a.disabled::before {background:url(../images/cross-line.png) no-repeat; position: absolute; content: " "; width: 30px; height: 30px; top: 0px;  left: 0px; right: 0px; margin: 0 auto}
.size-des button {font-weight: 700; background: none; border: none;}
.size-des button:hover, .btn-sizechart:hover {color: #e45c5c; text-decoration: none;}
.model-input { border-top:none; border-left:none; border-right:none; box-shadow: none; margin: 15px 0px; height: 45px;  border-radius:0px;   }
.modal-footer {border-top: none;}
.btn-sizechart {background: none; text-decoration: none; border: none; color: #333; font-family: 'Lato', sans-serif; font-size: 13px; margin-top: 15px;}
.share-col { width: auto; display: inline-block; }
.share-col:hover .share-social-media { display: block;   } 
.share-social-media {position: absolute; width: 400px; display: none; display: none; left: 0px;}
.share-social-media li {display: inline-block; width: 30px; height: 30px; margin-right: 7px;}
.share-social-media li img { width: 30px; height: 30px; }



/*-------------------Cart Page css start here--------------------------*/
.cart-page-heading h2 {font-size: 25px; padding-bottom: 15px;}
.cart-page-heading h2 span {font-weight: normal; color: #666;}
.cartpage-lft .list-item {padding: 0px; }
.list-item .imagebox {min-height: 150px; padding-left: 0px; padding-right: 0px; overflow: hidden; border-radius:5px; width: 90%; }
.list-item .imagebox img { max-width: 100%; min-width: 100%; min-height: 150px;  max-height: 150px; text-align: center;  border-radius:5px; transform: scale(1,1);   transition:0.5s;  }
.list-item .imagebox2 {min-height: 250px; padding-left: 0px; padding-right: 0px; overflow: hidden; border-radius:5px; width: 90%; }
.list-item .imagebox2 img { max-width: 100%; min-width: 100%; min-height: 250px;  max-height: 250px; text-align: center;  border-radius:5px; transform: scale(1,1);   transition:0.5s;  }
.list-item .imagebox:hover img { transform: scale(1.1,1.1);}
.list-item .heading-title  {font-size: 15px; color:#333; font-weight: 400; padding-top:15px; line-height: 18px;  position: relative;  }
.list-item .heading-title p {font-size: 13px; color: #999; padding-top: 5px; font-weight: normal;}
.list-item .heading-title:hover {color: #5170e0;}
.list-item  .pricetxt { font-weight: 700; font-size: 15px; width: auto; display: inline-block; margin-right: 14px;}
.list-item  .pricetxt i {margin-right: 2px; font-size: 12px;}
.list-item .starrating i { font-size: 14px;}
.list-item  .stargreen, .staryellow {color: #fec53c;}
.stargrey { color: #ccc;}
.greencolorbg {background:#5cb85c;}
.list-item  .txtreview  {font-size: 11px; color:#999; text-decoration: none; font-weight: normal;}
.list-item  .scoretxt {font-size: 11px; color: #999; width: auto; display: inline-block; text-align: center;}
.list-item  .scoretxt span { color: #FFF; border-radius:3px; padding:2px 6px; font-size: 12px;  display: inline-block; }
.list-item  .scoretxt span i {font-size: 9px;}
.list-item  .boxtxtsmall { padding: 0px 0px; font-size: 12px; color:#333; text-decoration: none;}
.list-item .txt-offers {border-top: 1px solid #e5e5e5; padding-top: 10px; margin-top: 15px; font-weight: 400; text-align: center; color: #f96f17; font-size: 12px; }
.list-item .txt-offers img {margin-right:5px;}
.cartpage-lft .itembox { border: 1px solid #e5e5e5;  float: left;}
.cartpage-lft .itembox .list-item { padding-bottom: 20px; width: 100%;} 
.cartpage-lft .list-item .thumbimg { margin-top: 20px; }
.cartpage-lft  .nav-tabs .nav-item {width: 50%;}
.cartpage-lft  .nav-tabs .nav-link.active {color: #5e2c81; border-bottom: 2px solid #5e2c81; font-weight: 700;}
.cartpage-lft .heading-title {color: #333; font-weight: 700;}
.cartpage-lft .qty-txt { display: inline-block; color: #666; font-weight: normal; font-size: 13px; margin-right: 10px;}
.cartpage-lft .qty-input {width:50px; float:none; display:inline-block; height:30px; font-size:13px; margin: 0 8px;}
.cartpage-lft .list-item:hover {box-shadow: none;}
.cart-product-detail li { margin: 0 0 10px 0; }
.cart-product-detail li span {width: auto; display: inline-block; margin-right: 10px; font-weight: normal; color: #666; font-size: 14px;}
.cart-product-detail li .btn-remove { background: none; border: none; color: #666; font-size: 13px;}

.cart-product-detail li .btn-wishlist { background: none; color: #333; font-size: 14px; border: 1px solid #333; padding: 5px 10px; border-radius:4px;  }
.cart-product-detail li .btn-wishlist:hover {background: #ee6488; border: 1px solid #ee6488; color: #fff; }
.cart-product-detail li .btn-wishlist i, .cart-product-detail li .btn-remove i {margin-right: 5px;}
.cart-product-detail li .select-wid100 { width: 100px; display: inline-block;}
.cart-product-detail li .btn-circle { width: 35px; height: 35px; background: none; border: 1px solid #ccc; color: #666; border-radius:50% 50%; text-align: center; font-size: 10px; }
.btn-checkout {padding: 8px 5px; font-weight: 700; font-size: 14px; width: 151px; display: inline-block; margin: 0 2px; border-radius:50px; }
.btn-checkout:hover {color: #FFF;}
.cartpage-lft .item-bot-strip {background: #f0f0f0; padding: 15px; float: left;  margin-top: 15px;   }
.txt-message {border: none; background: none; cursor: pointer; font-size: 13px; font-weight: 700; color: #333;}
.addmessage-txt {float: right; width: auto;}
.addmessage-txt button {color: #666;font-weight: 700;font-size: 14px;  border: none; background: none;}
.addmessage-txt button:hover {color: #e05b5b;}
.padtop15 {padding-top: 15px;}
.coupon-text button {border: 2px solid #e5e5e5; cursor: pointer; padding: 15px; font-size: 15px; font-weight: 700; color: #333; width: 100%; background: #fff; margin-bottom: 20px; border-radius:0px; }
.coupon-text button i {color:#e05b5b; transform:rotate(80deg);}
.coupon-text button:hover, .coupon-text button:active { background: linear-gradient(45deg, #fb8071 0%,#ee6488 100%); border-color:#fb8071; color: #FFF; }
.coupon-text button:hover i {color: #FFF;}
.cart-order-summary {border: 2px solid #e5e5e5; padding: 15px; margin-bottom: 30px;}
.cart-order-summary h4 {font-size: 18px; font-weight: 700; color: #e05b5b;}
.cart-order-summary ul li {font-size: 14px; padding: 12px 0px;}
.cart-order-summary ul li i {font-size: 12px;}
.cart-order-summary ul li span {float: right;}
.cart-order-summary ul li .txtorange {color: #4aa74a; font-size: 14px; font-weight: 700;}
.cart-order-summary ul li strong {font-weight: 700;}
.cart-order-summary ul li .btn-border { width: 100%; display: block; text-align: center; font-size: 13px; font-weight: 700; margin-top: 15px; }
.btn-wid100 { width: 100%; text-align: center;}
.coupon-code-model p { font-weight: 700; font-size: 15px; margin-bottom: 5px;}
.coupon-code-model .form-control {font-size: 16px; color: #333; }
.coupon-code-model .coupon-form-control { width: 80%; display: inline-block; margin-right: 10px; margin-top: 5px;}
.payment-tab {margin-bottom: 20px;}
.payment-tab .nav-item .nav-link { font-size: 12px; color: #333; margin-bottom: 10px; border: none;}
.payment-tab .nav-item .nav-link i {color:#c8c8c8; font-size: 20px; margin-right:10px; }
.payment-tab .nav-item .nav-link.active {color: #693091; font-weight: 700; font-size: 14px;}
.payment-tab .nav-item .nav-link.active i {color: #693091;}
.payment-form label {font-weight: 700; font-size: 13px; color: #666666;}
.payment-form .form-control {font-size: 16px;}
.btn-payment-tab {font-weight: 700; padding-top: 10px; padding-bottom: 10px; border-radius:30px; font-size: 14px; width: 210px; }
.payment-img {position: absolute; right: 25px; top: 30px;}

.netbanking-list li {display: inline-block; width: 24%; text-align: center; margin-bottom: 20px;}
.netbanking-list li a {color: #333; text-decoration: none;}
.netbanking-list li a img {margin-bottom: 10px;}
.sidenav {height: 100%;width: 0;position: fixed;z-index:99999;top: 0;left: 0;background-color: #FFF;overflow-x: hidden;transition: 0.5s;padding-top: 60px; box-shadow: 0 0 15px #ccc;}
.sidenav .closebtn {position: absolute;top: 0;right: 25px;font-size: 36px;margin-left: 50px;}

#address_message_Modal .modal-title {font-size: 18px;}
.address-form ul li .form-control {border-top: none; padding-left: 0px; border-right: none; height: 45px; border-left: none; font-size: 15px; border-radius: 0px; border-top: none; box-shadow: none;}
.address-form ul li {margin-bottom: 15px; }
.address-form ul li .custom-select {border-radius:0px; border-left: none; border-top: none; border-right: none; padding-left: 0px; padding-right: 0px;  }
.address-form ul li.form-title {font-weight: 700; font-size: 14px;}
.address-form h4 {font-size: 19px; margin-bottom: 20px;}
.address-form ul li.pincode-txt {border-bottom: 1px solid rgba(0,0,0,.15); padding-bottom: 7px;}
.address-form ul li .input-50 { width: 48%; float: left; }
.couponcode-dialog { width: 500px; margin: 250px auto 0 auto;}
.delivery-address { width: 100%; background: #f5f5f5; padding: 15px; position: relative; }
.delivery-address p {font-size: 13px; color: #333;}
.btn-mod {position: absolute; right: 15px; top: 15px; border:1px solid #ee6488; color:#ee6488;}
/*--------------------------Myaccount page css start here---------------------------------------*/
.profile-box {margin-bottom: 20px;}
.profile-box .profileImg-container {float: left;width: 72px; height: 72px;border-radius: 4px; margin-right: 16px; overflow: hidden;}
.profile-box img {height: 100%;display: block;margin: 0 auto;}
 .userDetails-container { float: left;}
.profile-box h2 {
    bottom: 5px;
    padding: 0;
   font-size: 16px;
    text-transform: none;
    color: #333;
    z-index: 2;
    position: relative;
    left: auto;
    margin: 0 auto;
    text-align: left;
    right: auto;
}
.profile-box .userDetails-container p {
    font: 11px/16px Open Sans;
    color: #717171;
}
.profile-box .userDetails-container a {
    font-size: 12px; color:#ff5d3b; 
    padding: 2px 12px;
    border: 1px solid #ff5d3b;
    border-radius: 3px;
}
.height69 {height: 69px;}
.my-account-fluid {background: #f0f0f0; min-height: 680px; padding-top: 60px;}
.my-accountpage {background: #FFF; border-radius:15px; box-shadow: 0 0 10px #ccc; padding-top: 30px; padding-bottom: 40px; }
.float-right {float: right;}
.boldtxt {font-weight: 600;}
.f-size11 {font-size: 11px;}
.height40 {height: 40px;}
.my-account-tab  {border: none;}
.my-account-tab li { width: 100%; border: none; }
.my-account-tab li a {font-size: 14px; border: none; font-family: 'Lato', sans-serif;    min-width:100%;  color: #333; background:#f7f7f7; border-radius:7px; padding: 10px 20px;  text-align: left; margin: 0 7px; display: inline-block; margin: 0 0 15px 0;}
.my-account-tab li.active {border: none;}
.my-account-tab li.active a {background:#FFF; color:#fb8071; border: none !important;}
.my-account-tab li a img {margin-right: 5px;}
.list-item .thumbimg {min-height: 80px; border: 1px solid #e5e5e5; padding-left: 0px; padding-right: 0px; overflow: hidden; border-radius:5px; width: 100%; }
.list-item .thumbimg img { max-width: 100%; min-width: 100%; min-height: 80px;  max-height: 150px; text-align: center;  border-radius:5px; transform: scale(1,1);   transition:0.5s;  }
.btn-radius {font-size: 13px; border-radius:20px; padding-left: 20px; padding-right: 20px; }
.bookinglist .itembox {box-shadow: none; border-bottom: 1px solid #e5e5e5;}
.bookinglist .list-item .pricetxt { font-size: 13px;}
.bookinglist .nav-tabs .nav-link {font-weight: 400; font-size: 15px; color: #333; width: 100%; border-top: none; border-left: none; border-right: none; border-bottom: 2px solid #e5e5e5; text-align: center; } 
.bookinglist .nav-tabs .nav-item {width: 50%;}
.bookinglist .nav-tabs .nav-link.active {color: #5e2c81; border-bottom: 2px solid #5e2c81; font-weight: 600;}
.bookinglist .list-item .heading-title {font-weight: 600;}
.bookinglist .list-item .heading-title p {font-weight: normal;}
.profile-tab-content .sub-title {font-size: 16px; font-family: 'Lato', sans-serif;  width: auto; float: left; padding: 0 0 15px 0;  color: #fb8071; position: relative;}
.divder-border {border-bottom: 1px solid #e5e5e5; width: 100%; display: block; float: left;  margin: 0 15px 20px 15px;}
.profile-tab-content {padding-top: 20px;}
.profile-tab-content .sub-title::after { position: absolute; left: 0px; bottom: 0px; width: 100px; height: 5px; background:#fb8071; content: " "; }
.profile-tab-content .form-group label {font-weight: 600; color: #555; font-size: 13px;}
.profile-tab-content .form-group .form-control {font-size: 13px;}
.referral-tab-content {margin-top: 100px;}
.referral-tab-content h3 {color:#fb8071; font-family: 'Lato', sans-serif; }
.referral-tab-content p {font-size: 15px; color: #666;}
.referral-tab-content .referral-code {color: #8a6d3b;background-color: #fcf8e3;border: 2px dashed #faebcc; padding: 15px 30px; border-radius: 4px; margin-top: 50px; width: auto; display: inline-block; font-weight: 600; font-size: 20px;}
.referral-tab-content .referral-code span {font-size: 15px;}
.social-media {margin-top: 25px;}
.social-media a { font-size: 30px; width: 60px; transaction:2s; height: 60px; border-radius:50% 50%; padding-top: 5px;  text-align: center; display: inline-block; margin:0px 5px; color: #FFF; border: 1px solid #e5e5e5;  }
.social-media a.iconfacebook {color:#4e71a8; }
.social-media a.icontwitter { color:#1cb7eb;}
.gradient-perple {background-image: linear-gradient(to right, #ec6193 , #6b3bb5);}
.gradient-green {background-image: linear-gradient(to right, #42e595 , #3bb5b6);}
.gradient-yellow {background-image: linear-gradient(to right, #f8e694 , #ffcc5d);}
.gradient-pink {background-image: linear-gradient(to right, #ffcf80 , #ef6dad);}
.gradient-blue {background-image: linear-gradient(to right, #9fe3dc , #4ea2f6);}
.vouch-coupon { width: 55%; display: inline-block; text-align: center;}
.vouch-coupon .percenttxt { color: #FFF; font-weight: 600; font-size: 25px; padding-top: 50px; padding-bottom: 10px;}
.vouch-coupon p {color: rgba(255, 255, 255, 0.8); font-size: 16px;}
.vouchers-col {border-radius:10px; width: 100%; display: block; float: left; }
.coupon-code { background: #FFF; text-align: center; border-radius:5px; margin: 15px 15px 15px 0px; width: 40%; padding: 15px; float: right;  }
.coupon-code span {color: #333; font-weight: 600;}
.coupon-code p {color: #666; font-size: 11px;}
.martop30 {margin-top: 30px;}

.tab-heading {font-weight: normal; color: #333; font-size: 22px; font-family: 'Lato', sans-serif; border-bottom: 1px solid #e5e5e5; margin-bottom: 40px; padding-bottom: 15px; padding-top: 0px;}
.walletsection .walletnumbertxt { color: #333; font-size: 22px; font-weight: 600;}
.walletsection .walletbaltxt {  font-size: 14px; font-weight: 600; color: #fb8071; font-family: 'Lato', sans-serif; }
.walletsection .walletcol { margin-top:0px; border-bottom: none;}
.wallet-content tr th {border-top: none;}
.wallet-content tr td {font-size: 12px; color: #666;}
.wallet-content tr td .icon-add-green { width: 30px; height: 30px; border-radius:25px; border: 2px solid #4CAF50; padding-top: 5px; color: #4CAF50; font-size: 12px; text-align: center; }
.wallet-content tr td .icon-minus-red { width: 30px; height: 30px; border-radius:25px; border: 2px solid #d9534f; padding-top: 5px; color: #d9534f; font-size: 12px; text-align: center; }
.boldtxt { font-weight: 600;}
.wallet-content tr td .txtgreen {color: #4CAF50;}
.wallet-content tr td .txtred {color: #d9534f;}
.wallet-card { width: 100%; background: #FFF; cursor: pointer; border: 2px solid #eeeeee; border-radius:7px; color: #666; padding-top: 30px; padding-bottom: 30px; margin-top: 20px; }
.wallet-card.active {border-color: #4ca1fa;}
.card-number-text {font-weight: 600; letter-spacing: 5px; color: #333; font-size: 20px; margin-top: 30px;}
.thumb-img  { width: 150px;}
.thumb-img img {min-width: 120px; max-width: 120px;  min-height: 100px; max-height: 100px;}
.f-size16 {font-size: 15px;}
.f-size14 {font-size: 14px;}
.f-size13 {font-size: 13px;}
.txt-perpal {color: #5e2c81;}

.write-review-model { max-width: 800px; margin: 0px auto; top: 25%;}
.write-review li { margin: 0 0 15px 0; }
.write-review li.star-rating i {font-size: 20px;}
.write-review li.star-rating .hovone:hover { color:#fec53c; opacity: 0.6;}
.write-review li.star-rating .hovtwo:hover { color:#fec53c; opacity: 0.7;}
.write-review li.star-rating .hovthree:hover { color:#fec53c; opacity: 0.8;}
.write-review li.star-rating .hovfour:hover { color:#fec53c; opacity: 0.9;}
.write-review li.star-rating .hovfive:hover { color:#fec53c; }
.rating-star i { font-size: 12px;}
.rating-star .stargreen {color: #5cb85c;}
.rating-star .stargrey {color: #ccc;}
.review-col .client-img { width: 60px; height: 60px; border-radius:50% 50%; display: inline-block; margin: 0 auto; }
.review-col .client-img img {max-width: 60px; max-height: 60px; min-width: 60px; min-height: 60px; border-radius:50% 50%;}
.review-col {padding: 0px; border-radius:5px;  position: relative;background: #fff;margin-bottom: 30px;color: #888;text-align: center;}
.review-col h4 { width: 100%; display: inline-block; font-size: 15px; padding-top: 15px; color: #333;}
.review-col p {font-size: 12px; padding-top: 10px;}
.rating { 
  border: none;
  display: inline-block; width: auto; position: relative; top: 17px;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

.order-detail-model-dialog {width: 1000px;}
.order-detail-model-dialog .table {border: none;}
.order-detail-model-dialog .table tr td {border-top: none; border-bottom: 1px solid #ddd;}
.order-detail-model-dialog .modal-header, .order-detail-model-dialog .modal-footer {border-top:none;}  
.order-detail-model-dialog .modal-header h5 {font-size: 18px; font-family: 'Lato', sans-serif;}
.booking-detail-list .heading-title {font-weight: 600;}
.booking-detail-list .heading-title p {font-weight: normal; color: #666;}
.booking-detail-list .cutprice {text-decoration: line-through;font-weight: normal; color: #666;}
.booking-detail-list .pricetxt { font-weight: 600;}
.booking-detail-list .pricetxt i {
    font-size: 10px;
    margin-right: 5px;
}

/*-----------------------Rating & Review css start here-----------------------------*/
.rating-dialog { margin:200px auto 0 auto; }
.rating-dialog .pop-messagetext { color: #333; }
.rating-dialog .modal-title {font-size: 18px; font-family: 'Lato', sans-serif;}
.rating-dialog .modal-header .close {margin-top: -30px;}


svg {
  width: 100px;
  display: block;
  margin: 0px auto 0;
}
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}
.path.circle {
  -webkit-animation: dash 0.9s ease-in-out;
  animation: dash 0.9s ease-in-out;
}
.path.line {
  stroke-dashoffset: 1000;
  -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
  animation: dash 0.9s 0.35s ease-in-out forwards;
}
.path.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
  animation: dash-check 0.9s 0.35s ease-in-out forwards;
}

p.success {
  color: #73AF55;
}
p.error {
  color: #D06079;
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}


.successmodal .txt-success {text-align: center; font-size: 20px; color:#73AF55;}
.successmodal .txt-unsuccess {text-align: center; font-size: 20px; color:#D06079;}
.feedbackcaption {background: #f5f5f5; padding-top: 15px; padding-bottom: 15px; margin-bottom: 20px;}
.feedbackcaption span {color: #ff5d3b; font-size: 17px; font-weight: 600;}
.feedbackcaption p {font-size: 13px;}
.feedbacktable { width: 100%; margin: 20px 0px; }
.feedbacktable tr td, .feedbacktable tr th {padding: 10px;}
/*------------------------Login css start here--------------------------*/
.login-pattern { position: absolute; right: 0px; top: 0px; background: url(../images/pattern-colorful.jpg) #FFF top right no-repeat; background-size: 100% 100%; width: 640px; height: 100vh; opacity: 0.6;  } 
.login-pattern2 { position: absolute; left: -50px; top: 0px; background: url(../images/pattern.png)  top left no-repeat; background-size: 100% 100%; width: 400px; height: 400px; opacity: 0.7;  } 
.circle-pink { width:300px; height: 300px; border:25px solid #fce4ec; position: absolute; bottom:-8%; border-radius: 50% 50%; left: -7%; }

.login-bodybg { background: url(../images/loginbg1.jpg) #FFF top center no-repeat; background-size: cover;  height: 100vh;   }
.loginleftpanel {background: url(../images/login-leftbg.jpeg) #f0f0f0; background-size: 100% 100%; height: 520px;text-align: center;position: relative; padding: 20px;}
.loginleftpanel .whiteborder { width: 100%; height: 100%;  border:5px solid #FFF; position: relative; }
.loginleftpanel .loginleftcontent {font-family: 'Sacramento', cursive; padding: 30px 0px; background: rgba(255, 255, 255, 0.8); color: #333; font-size: 30px; position: relative; top: 150px;}
.loginleftpanel .loginleftcontent span {font-size: 40px; font-weight: 600; }
.signupleftpanel {height: 580px;}
.pad15 {padding: 15px;}
.logingraphicimg {margin-top: 20px; margin-bottom:0px;}
.loginleftpanel h2 {color:#333; font-size: 35px; padding-top: 70px; font-family: 'Lato', sans-serif;  }
.loginleftpanel h2 span {color: #693092; }
.loginleftpanel p {font-size: 13px; color: #5d5d5d;}
.logincontainer{background-color: #fff;  font-family: 'Lato', sans-serif; border-radius: 3px;box-shadow: 0 1px 20px rgba(0, 0, 0, 0.4); min-height: 500px; padding:0px; position: relative;  text-align: left;vertical-align: middle;width: 44%; margin:150px 0px 0px 0px;    z-index: 999;}
.formrow { width: 95%; display: block; position: relative; margin-bottom: 20px;}
.btn-signup {border-radius:25px; font-size: 14px; font-weight: normal; font-family: 'Lato', sans-serif; text-align: center;  width: 180px; transition: all 0.5s ease; transform:scale(1, 1);  }
.btn-signup:hover {transform:scale(1.1, 1.1);}
.logincontainer .formrow {border-bottom: solid 1px rgba(191,191,191, .6);}
.logincontainer .formrow.borbotnone {border-bottom: none;}
.logincontainer .formrow .label-title { font-family: 'Lato', sans-serif; width: 100%; float: left;  margin-bottom: 10px; font-weight: normal; border: none; font-size: 14px; color: #333;}
.logincontainer .formrow .icon { width: 30px; display: inline-block; float: left; color: #999; padding-top: 5px; }
.logincontainer .formrow .form-control { width: 90%;  }
.logincontainer .formrow .form-control, .login_modal .formrow .custom-select { box-shadow: none; border: none; border-left: none; border-right: none; font-size: 15px; color: #333; border-radius:0px; }
.logincontainer .modal_title { font-size: 28px; font-family: 'Lato', sans-serif;   letter-spacing: -1px; font-weight: 900; padding-top: 5px; padding-bottom: 10px; text-align: center; color: #333;}
.logincontainer .txt-forgotpass a {font-size: 13px;}
.loginform-subtitle {font-size:14px; color:#333; font-family: 'Lato', sans-serif; width: 100%; text-align: center; padding-bottom: 15px; padding-top: 0px;}
.signup-heading { font-size: 20px; width: 100%; display: inline-block;    letter-spacing: -1px; font-weight: 600; padding-top: 0px; text-align: center; color: #333;}
.logincontainer .btn-social {border-radius:25px; width: 196px; text-align: left; margin-right: 10px; display: inline-block; position: relative; padding: 10px 20px; margin-bottom: 15px; color: #FFF; font-size: 13px; font-family: 'Lato', sans-serif; font-weight: 600; }
.logincontainer .btn-social span {width: 2px; height: 24px; margin: 0 5px; display: inline; position: absolute; left: 40px; top: 7px;}
.logincontainer .btn-social i {margin-right: 25px;}
.logincontainer .btnfb {background:#3f4f92;}
.logincontainer .btnfb span {background:#313e74;}
.logincontainer .btn-gmail {background:#ea4437;}
.logincontainer .btn-gmail span {background:#ba3224;} 
.logincontainer .btn-othermail {background: #444444;}
.logincontainer .btn-othermail span {background: #323232;}
.logincontainer .ortext {border: 1px solid #ccc; background: #FFF; position: relative; z-index: 20; top: 10px;display: inline-block;margin: 5px 10px 30px 10px; font-family: 'Lato', sans-serif; font-weight: 600;width: 40px;height: 40px;padding-top: 8px;text-align: center;color: #ccc;font-size: 14px;border-radius: 50% 50%;}
.logincontainer .or-divider { width: 95%; height: 1px; background:#ccc; display: block; position: absolute; top: 32px; z-index: 10;  }
.logincontainer .signuplink {font-size: 14px; color: #999;text-align: center;width: 100%;margin-top: 10px;margin-left: -15px;}
.logincontainer .signuplink a {font-weight: 600;}
.txt-terms {color: #999; font-size: 13px; }
.txt-terms a {color:#ee6488; text-decoration: none;}
.txt-terms input  { margin-right: 10px;}
.txt-forgotpass a {font-size: 12px; text-decoration: underline; font-weight: 600; color: #999; }
.txt-forgotpass a:hover { color:#693092; }
.martop15 {margin-top: 15px;}
.opt-dialog { margin: 300px auto 0 auto;  }
.opt-dialog .labeltxt {font-weight: 600;}
/*------------------------Login css end here--------------------------*/

/*---------------------------Payment Page css start here-------------------------*/
.btn-black {background: #000; color: #FFF; border-radius: 0px; font-size: 16px; font-weight: 700;}
.btn-grey-light {background: #f0f0f0; color: #333; border-radius: 0px;}
.marrgt10 {margin-right: 10px;}
.boldtxt {font-weight: 700;}
.usermail {font-weight: normal; font-size: 15px; text-transform: none; margin-left: 20px;}
.payment-panel .panel-heading {padding: 20px 15px; text-transform: uppercase; background: #f8f8f8; }
.payment-panel .panel-heading:hover {background: #ccc; color: #FFF;}
.payment-panel .panel-title {font-size: 17px; }
.payment-panel .panel-title a {width: 100%; display: block;}
.payment-panel .panel-title > a::before { font-size: 15px; color: #999; }
.payment-tab {border:none; }
.payment-tab li { width: 100%; }
.payment-tab li.active a {border-right: 1px solid #FFF !important; background: #fff; font-weight: 600;}
.payment-tab a {color: #646e77; min-width: 100%; background: #f8f8f8; border-color: #e5e5e5 !important; padding-top: 15px !important; padding-bottom: 15px !important; border-radius: 0px; font-weight: normal; border-radius: 0px !important;  text-transform: uppercase; text-align: left;  }
.payment-tab a i {color: #999; margin-right: 10px; font-size: 16px; }
.payment-tab a img {margin-right: 10px;}
.font {font-family: 'Lato', sans-serif;}
.btn-border { width: 100%; border:2px solid #fb8071; color:#fb8071; font-size: 14px;  }
.panelrgt { border-left:1px solid #e5e5e5; min-height: 270px; padding-top: 20px;  }
.panelrgt:before { width: 35px; height: 35px; border-radius: 50% 50%; border:1px solid #e5e5e5; background: #FFF; content: "OR"; font-family: 'Lato', sans-serif; color: #999; position: absolute; top: 40%; left: -20px; padding-top: 7px; font-size: 14px;    }
.txt-payable-ammount {float: right; font-size: 14px; margin-right: 15px;}
.txt-payable-ammount i {font-size: 13px;}

.login .formrow {border-bottom: solid 1px rgba(191,191,191, .6);}
.login .formrow.borbotnone {border-bottom: none;}
.login .formrow .label-title { font-family: 'Lato', sans-serif; width: 100%; float: left;  margin-bottom: 10px; font-weight: normal; border: none; font-size: 14px; color: #333;}
.login .formrow .icon { width: 30px; display: inline-block; float: left; color: #999; padding-top: 5px; }
.login .formrow .form-control { width: 85%;  }
.login .formrow .form-control, .login .formrow .custom-select { box-shadow: none; border: none; border-left: none; border-right: none; font-size: 15px; color: #333; border-radius:0px; }
.login_modal .modal_title { font-size: 28px; font-family: 'Lato', sans-serif;   letter-spacing: -1px; font-weight: 900; padding-top: 5px; padding-bottom: 10px; text-align: center; color: #333;}
.login .txt-forgotpass a {font-size: 13px;}
.loginform-subtitle {font-size:14px; color:#333; font-family: 'Lato', sans-serif; width: 100%; text-align: center; padding-bottom: 15px; padding-top: 0px;}
.signup-heading { font-size: 20px; width: 100%; display: inline-block;    letter-spacing: -1px; font-weight: 600; padding-top: 0px; text-align: center; color: #333;}
.login .btn-social {border-radius:25px; width: 140px; text-align: left; margin-right: 10px; display: inline-block; position: relative; padding: 10px 20px; margin-bottom: 15px; color: #FFF; font-size: 13px; font-family: 'Lato', sans-serif; font-weight: 600; }
.login .btn-social span {width: 2px; height: 24px; margin: 0 5px; display: inline; position: absolute; left: 40px; top: 7px;}
.login .btn-social i {margin-right: 25px;}
.login .btnfb {background:#3f4f92;}
.login .btnfb span {background:#313e74;}
.login .btn-gmail {background:#ea4437;}
.login .btn-gmail span {background:#ba3224;} 
.login .btn-othermail {background: #444444;}
.login .btn-othermail span {background: #323232;}
.login .ortext {border: 1px solid #ccc; background: #FFF; position: relative; z-index: 20; top: 10px;display: inline-block;margin: 5px 10px 30px 10px; font-family: 'Lato', sans-serif; font-weight: 600;width: 40px;height: 40px;padding-top: 8px;text-align: center;color: #ccc;font-size: 14px;border-radius: 50% 50%;}
.login .or-divider { width: 95%; height: 1px; background:#ccc; display: block; position: absolute; top: 32px; z-index: 10;  }
.login .signuplink {font-size: 14px; color: #999;text-align: center;width: 100%;margin-top: 10px;margin-left: -15px;}
.login .signuplink a {font-weight: 600;}
.address-form ul li { width: 100%; display: block; float:left; }
.address-form ul li .form-control {border-top: none; padding-left: 0px; border-right: none; border-left: none; font-size: 13px; border-radius: 0px;}
.address-form ul li {margin-bottom: 15px; }
.address-form ul li .custom-select {border-radius:0px; border-left: none; border-top: none; border-right: none; padding-left: 0px; padding-right: 0px;  }
.address-form ul li.form-title {font-weight: 600;}
.address-form h4 {font-size: 19px; margin-bottom: 20px;}
.address-form ul li.pincode-txt {border-bottom: 1px solid rgba(0,0,0,.15); padding-bottom: 7px;}
.address-form ul li .input-50 { width: 48%; float: left; }

.netbanking-list li {display: inline-block; width: 24%; text-align: center; margin-bottom: 20px;}
.netbanking-list li a {color: #333; text-decoration: none;}
.netbanking-list li a img {margin-bottom: 10px;}

/*------------Custom Checkbox & Radio button ------------------*/
.newsletter-week-list li {width: 20%; display: inline-block; margin-bottom: 15px;}
.newsletter-form, .newsletter-week-list {margin-top: 20px;}
.newsletter-form li  { width: 33%; display: inline-block; margin-bottom: 15px; }
.control-group {
  display: inline-block;
  width: 200px;
  height: 210px;
  margin: 10px;
  padding: 30px;
  text-align: left;
  vertical-align: top;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.control {
  font-size: 14px; font-weight: normal;
  position: relative;
  display: block;
  margin-bottom: 15px;
  padding-left: 30px;
  cursor: pointer;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;  
  width: 25px;
  height: 25px;
  background: #e6e6e6;
}

.control--radio .control__indicator {
  border-radius: 50%;
}
/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}

/* Checked state */
.control input:checked ~ .control__indicator {
  background: #999;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #999;
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
  pointer-events: none;
  opacity: .6;
  background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
  position: absolute;
  display: none;
  content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
  display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
  top: 6px;
  left: 9px;
  width: 5px;
  height: 11px;
  transform: rotate(45deg);
  border: solid #fff;
  border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}

/* Radio button inner circle */
.control--radio .control__indicator:after {
  top: 7px;
  left: 7px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
}

/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}

/*------------Custom Checkbox & Radio end button ------------------*/

/*------------------------Login Modal css start here--------------------------*/
.pad-l0 {padding-left: 0px;}
.pad-r0 {padding-right: 0px;}
.login-modal-dialog {margin: 100px auto 0 auto; max-width: 400px;}
.register-modal-dialog {margin: 100px auto 0 auto; width: 800px;}
.register-modal .formrow  {margin-bottom: 10px; float: left;}
.pad15 {padding: 15px;}
.formrow { width: 100%; display: block; position: relative; margin-bottom: 20px;}
.btn-signup {border-radius:25px; font-size: 14px; font-weight: 600; text-align: center;  width: 180px; transition: all 0.5s ease; transform:scale(1, 1);  }
.btn-signup:hover {transform:scale(1.1, 1.1);}
.login-modal-dialog .modal-title {font-size: 16px; color: #333; text-transform: uppercase; font-weight: 600;}
.login_modal .formrow .label-title { font-family: 'Lato', sans-serif; margin-bottom: 0px;  border: none; font-size: 13px; color: #999;}
.login_modal .formrow .form-control, .login_modal .formrow .custom-select {border-bottom: solid 2px rgba(191,191,191, .6); box-shadow: none; border-top: none; border-left: none; border-right: none; font-size: 15px; color: #333; border-radius:0px; margin: 0px; padding-left: 0px; padding-right: 0px; }
.login_modal .formrow .form-control:focus {box-shadow: none; outline: none;}
.login_modal .modal_title { font-size: 25px;   letter-spacing: -1px; font-weight: 900; padding-top: 10px; padding-bottom: 10px; text-align: center; color: #333;}
.loginform-subtitle {font-size:13px; color:#693092; font-family: 'Lato', sans-serif; width: 100%; text-align: center; padding-bottom: 15px; padding-top: 5px;}
.signup-heading { font-size: 20px; width: 100%; display: inline-block;    letter-spacing: -1px; font-weight: 600; padding-top: 0px; text-align: center; color: #333;}
.login_modal .btn-social {border-radius:25px; width: 150px; background:#FFF; box-shadow: 0 0 10px #ccc; text-align: left; margin-right: 10px; display: inline-block; position: relative; padding: 12px 20px; margin-bottom: 15px; color: #FFF; font-size: 12px; font-family: 'Poppins', sans-serif; font-weight: 600; }
.login_modal .btn-social span {width: 2px; height: 30px; margin: 0 5px; display: inline; position: absolute; left: 40px; top: 7px;}
.login_modal .btn-social i {margin-right: 25px; font-size: 13px;}
.login_modal .btnfb { color:#3f4f92; }
.login_modal .btnfb span { color:#3f4f92;}
.login_modal .btn-gmail { color:#ea4437;}
.login_modal .btn-gmail span { color:#ea4437;} 
.login_modal .btn-othermail {background: #444444;}
.login_modal .btn-othermail span {background: #323232;}
.login_modal .ortext {border: 1px solid #ccc; background: #FFF; position: relative; z-index: 20; top: 10px;display: inline-block;margin: 5px 10px 30px 10px; font-family: 'Lato', sans-serif; font-weight: 600;width: 40px;height: 40px;padding-top: 8px;text-align: center;color: #ccc;font-size: 14px;border-radius: 50% 50%;}
.login_modal .or-divider { width: 95%; height: 1px; background:#ccc; display: block; position: absolute; top: 32px; z-index: 10;  }
.login_modal .signuplink {font-size: 13px; color: #999;text-align: center;width: 100%;margin-top: 10px;margin-left: -15px;}
.login_modal .signuplink a {font-weight: 600; color:#ee6488;}
.txt-terms {color: #999; font-size: 12px; }
.txt-terms a {color:#ee6488; text-decoration: none;}
.txt-terms input  { margin-right: 10px;}
.txt-forgotpass a {font-size: 12px; text-decoration: underline; font-weight: 600; color: #999; }
.txt-forgotpass a:hover { color:#693092; }
.martop15 {margin-top: 15px;}
.opt-dialog { margin: 300px auto 0 auto;  }
.opt-dialog .labeltxt {font-weight: 600;}
#registerModal {z-index: 1050;}
#OTPModal {z-index: 1100;}
.mobilenumber-input {margin-bottom: 0px !important; text-align: center;}
.mobilenumber-input .form-control {border:none; text-align: center; width: auto; display: inline-block;}
.mobilenumber-input .edit-icon {border: none; background: none; font-size: 15px; display: inline-block; width: auto; }
.otp-input {color: #999; border-left: none; border-right: none; border-top: none; border-radius:0px; }
.register-modal .iconbg  {position: relative; padding-left: 40px; border-bottom: 1px solid #e5e5e5; margin-bottom: 13px;}
.register-modal .namefield::before {background: url(../images/sprite-img.png) 0px 0px no-repeat; content: " "; position: absolute; left: 0px; top:2px; width: 14px; height: 19px; }
.register-modal .emailfield::before {background: url(../images/sprite-img.png) -143px -3px no-repeat; content: " "; position: absolute; left: 0px; top:2px; width: 23px; height: 17px; }
.register-modal .mobilefield::before {background: url(../images/sprite-img.png) -175px -2px no-repeat; content: " "; position: absolute; left: 0px; top:2px; width: 20px; height: 22px; }
.register-modal .passfield::before {background: url(../images/sprite-img.png) -112px -2px no-repeat; content: " "; position: absolute; left: 0px; top:2px; width: 23px; height: 15px; }
.register-modal .locfield::before {background: url(../images/sprite-img.png) -202px -2px no-repeat; content: " "; position: absolute; left: 0px; top:2px; width: 15px; height: 16px; }
.iconviewpass {position: absolute; right: 0px; top:2px; background: url(../images/sprite-img.png) -83px 0px no-repeat; content: " ";   width: 20px; height: 15px; }
.register-modal .form-control {border-bottom: none !important; font-size: 12px !important; padding-top: 0px !important; margin-top: -4px !important;}
/*------------------------Login Modal css end here--------------------------*/


@media only screen and (max-width:767px) {
.headertopspace {display: none; height: auto !important; margin-top: 40px;}
.header {position: relative; margin-bottom: 0px;} 
.main_nav {margin-top: 0px;}
.logo {text-align: center;}
.footer_title, .footer_list li, .footer_social ul li, .footer_social,.footer_subtitle {text-align: center;}
.login {padding-left: 0px; padding-right: 0px;}
.usermail {margin-left: 0px;}
.panelrgt {border-left: none; border-top: 1px solid #e5e5e5; margin-top: 40px; padding-top: 40px;}
.payment-panel .panel-title {font-size: 15px;}
.panelrgt::before {top: -20px; left: 0px; right: 0px;  margin: 0 auto;}
.txt-payable-ammount {float: left; margin-top: 10px; font-size: 13px;}
.top-banner {overflow: visible;}
.carousel-inner .item a img {min-height: 300px !important; }
.product-slider, .home-product {position: relative;}
#f1_container {height: 380px; width: 100%;}
.home-product .owl-carousel .owl-nav button.owl-prev {left: 10px;}
.home-product .owl-carousel .owl-nav button.owl-next {right: 0px;}
.home-product .owl-carousel .owl-nav button.owl-prev, .home-product .owl-carousel .owl-nav button.owl-next {top: 35%;}
.catImg {margin-bottom: 15px;}
.heading-title {margin-bottom: 20px;}
.how-we-p {font-size: 14px;}
.client-review, .client-img, .client-name {text-align: center;}
.client-img {margin: 0 auto;}
.home-blog {text-align: center;}
.home-blog img {min-width: auto: }
.heading-title .title-txt {font-size: 20px;}
.newsletter_title {font-size: 16px; font-weight: 600; margin-bottom: 10px; width: 100%; display: block;}
.footer_column {margin-bottom: 20px;}
.newsletter_title, .we-accept-img, .we-accept-img li a {font-size: 16px; font-weight: 600; margin-bottom: 10px; width: 100%; display: block; text-align: center;}
.footer_column ul { width: 100%; display: block; float: left; text-align: center; }



}
@media only screen and (max-width:480px) {
#f1_container {height: 380px; width: 100%;}
.carousel-inner .item a img {min-height: 250px !important; }
.footer_list img {margin-right: 10px;}
 }

 @media only screen and (max-width:400px) {
#f1_container {height: 300px; width: 100%;}


 }
 
 ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #f06c836b !important;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
color: #000000;
    text-decoration: none;
    font-weight: bold;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}


.prod-slider-section {width: 43%;text-align: center;float: left;}
.product-detail .prod-slider-section .product-slider { width:70%; float: right;}
.product-detail .product-thumb-slider { width: 30%; padding-top: 25px; }
.product-detail .slick-vertical .slick-slide { height:100px;  } 
.product-detail .slick-arrow { border: 0; }
.product-detail .product-thumb-slider .slick-prev  { top: 0; left: 0; right: 0; margin: auto; }
.product-detail .product-thumb-slider .slick-next  { top:auto;  bottom: -25px; left: 0; right: 0; margin: auto; }
.product-detail .product-thumb-slider .slick-slide:first-child  { border: 0; }
.product-detail .prod-slider-section .product-slider .slick-arrow{ display: none !important; }
.product-detail .product-thumb-slider .slick-prev { background: url(../images/up-arrow.png) no-repeat center center; background-repeat: no-repeat !important; background-size: 13px; }
.product-detail .product-thumb-slider .slick-next { background: url(../images/draw-arrow.png) no-repeat center center; background-repeat: no-repeat !important;  background-size: 13px;} 
.product-detail .slick-arrow.slick-disabled { opacity:0.5; }
.box-review p {font-size: 14px; padding: 0; margin-bottom: 4px;}
.product-size, .product-color {margin-top: 15px;}
.product-size ul li { width: 35px; height: 35px; display: inline-block; margin-right: 10px;}
.product-size ul li a { width: 35px; height: 35px; font-weight: 700;  border-radius:50% 50%; float: none; display: inline-block; color: #333; text-align: center;  display: inline-block; border: 1px solid #ccc; font-size: 11px; padding-top: 8px; }
.product-size ul li a:hover {background: #333; color: #FFF; border: 1px solid #333; }
.product-color ul li { width: 35px; height: 35px; display: inline-block; margin-right: 10px;}
.product-color ul li a { width: 35px; height: 35px; font-weight: 700;  border-radius:50% 50%; float: none; display: inline-block;  text-align: center;  display: inline-block;  font-size: 11px; padding-top: 8px; }


.boldtxt {font-weight: 700;}
.product-price span {margin-right: 15px;}
.text-price-title {color: #28a745; font-weight:700;  font-size: 15px; margin-top: 10px;}
.product-price .bold-price { color: #000; font-size: 20px; font-weight: 700;}
.product-price .cut-price {color: #666; text-decoration: line-through; font-size: 18px;}
.product-price .txt-discount {font-size: 16px; color: #28a745; font-weight: 700;}
.btn-addcart{
    color: #e45c5c!important;
    border-radius:0px;
    padding:15px 20px!important;
    border: 1px solid #e45c5c!important;   
    background-color: #fff;
    text-decoration: none;
    width:210px; display: inline-block; border-radius:5px; margin-right: 10px; font-weight:700; 
  
}
.title-font {font-family: 'Righteous', cursive;}
.btn-addcart:hover{ background: linear-gradient(45deg, #fb8071 0%,#ee6488 100%); color: #fff!important; transition: .2s}

.btn-buynow {background: linear-gradient(45deg, #fb8071 0%,#ee6488 100%); border-radius:5px; font-weight:700;   padding:16px 21px!important; width:210px; color: #FFF; border: none; display: inline-block;}

.quantity {margin-top: 20px; margin-bottom: 30px;}
.delivery-address {margin-top: 20px; margin-bottom: 30px;}
.delivery-address input{border-top: none; border-left: none; border-right: none; border-bottom:1px solid #e5e5e5; padding-bottom: 10px; font-size: 13px; color: #666; margin: 0 10px; width: 200px; }
.btn-check {border: none; background: none; color: #28a745; font-weight: 700; font-size: 14px; }
#product-detail p {font-size: 17px; color: #666; margin-top: 30px; line-height: 30px;}

.product_detail {margin-top: 50px; }
.product-detail-tab {border-bottom: none;  margin-top: 50px;  }
.product-detail-tab li { color: #333; font-family: 'Righteous', cursive; font-size: 13px;  text-transform: uppercase; border: 1px solid #e5e5e5; border-radius:5px; margin-right: 10px; }
.product-detail-tab li a {color: #333;}
.product-detail-tab li.active {}
.btn-wishlist {font-size: 30px; color: #ccc; border: none; background: none; margin-right: 15px;}

.product-description h3 {font-weight: normal; font-size: 18px; text-align: center; padding-bottom: 30px;}
.product-description p {font-size: 13px; line-height: 22px; margin-bottom: 20px; margin-top: 20px;}
.product-description strong {font-weight: 600; font-size: 13px;}
.table-product-des tr th, .table-product-des tr td {padding: 7px 0px; font-size: 13px; font-weight: normal;}
.table-product-des tr td  {color: #666;} 

.returns-col p { font-size: 13px; color: #666; line-height: 22px; }
.returns-col i {font-size: 24px; margin-bottom: 10px; color: #666;}
.returns-col p strong {color: #333; font-size: 14px; margin-bottom: 15px;}
.returns-col p a, .product-description p a {color: #e45c5c;}

.returns-col {margin-top: 40px;}
.rating-panel .ratingleft span {font-size:40px; font-weight: 700;}
.rating-panel .ratingleft i {color: #ee6488; font-size: 20px;}
.rating-panel .ratingleft .rate_title {font-size: 13px; color: #999;}
.rating-recommend li {width: auto; display: inline-block; font-size: 16px; text-align: center; vertical-align:top; margin: 0 10px; }
.rating-recommend li .thumb-yes { width: 80px; display: inline-block; border-radius: 5px; border:1px solid #39be1a; color:#39be1a; font-size: 18px; padding: 7px 0px; text-align: center; }
.rating-recommend li .thumb-no { width: 80px; display: inline-block; border-radius: 5px; border:1px solid #ee6488; color:#ee6488; font-size: 18px; padding: 7px 0px; text-align: center; }