*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
.show{
  width: 450px;
  height: 450px; float: left; z-index: 222;
}
#small-img-roll {left: 0px !important;}
.show img {max-width: none !important; }
#show-img { width: 400px; height: 400px;  }
.small-img{
  width: 100px;
  height: 450px;
  margin-top: 10px;
  position: relative; float: left;
}
.small-img .icon-left, .small-img .icon-right{
  width: 12px;
  height: 24px;
  cursor: pointer;
  position: absolute; left: 0px; right: 0px;
  margin: 0 auto; font-size: 18px; 
}
.small-img .icon-left{
  /*transform: rotate(-90deg);*/
  top: -35px; right: 32px;
}
.small-img .icon-right{
  bottom: -10px; right: 32px;
  /*transform: rotate(90deg);*/
}
.small-img .icon-left:hover, .small-img .icon-right:hover{
  color: #e05b5b;
}
.small-container{
  width: 100px;
  height: 500px;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.small-container div{
  width: 800%;
  position: relative;
}

.small-container .show-small-img{
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  cursor: pointer;
  float: none; display: block; border: 1px solid #e5e5e5;
}
.small-container .show-small-img:last-of-type{
  margin-right: 0;
}
